*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
     text-align:center;
    color:blueviolet;
    background-color: aliceblue;
    border-color: black;
}

   
